.button {
	background: rgb(38, 255, 242);
	background: -moz-linear-gradient(333deg, rgba(38, 255, 242, 1) 0%, rgba(50, 108, 255, 1) 100%);
	background: -webkit-linear-gradient(333deg, rgba(38, 255, 242, 1) 0%, rgba(50, 108, 255, 1) 100%);
	background: linear-gradient(333deg, rgba(38, 255, 242, 1) 0%, rgba(50, 108, 255, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#26fff2",endColorstr="#326cff",GradientType=1);
	padding: 15px 25px;
	display: inline-block;
	box-shadow: 0px 4px 50px rgba(50, 108, 255, 0.5);
	border-radius: 10px;
	color: #fff;
	font-weight: 800;
	font-size: 16px;
	line-height: 16px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;

	&:hover {
		background: -moz-linear-gradient(333deg, rgba(50, 108, 255, 1) 0%, rgba(38, 255, 242, 1) 100%);
		background: -webkit-linear-gradient(
			333deg,
			rgba(50, 108, 255, 1) 0%,
			rgba(38, 255, 242, 1) 100%
		);
		background: linear-gradient(333deg, rgba(50, 108, 255, 1) 0%, rgba(38, 255, 242, 1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#326cff",endColorstr="#26fff2",GradientType=1);
	}
}
