.errorBlock {
	width: 100%;
	border: 1px solid #bd0000;
	background: #fff;
	padding: 8px;
	margin-top: 10px;
	border-radius: 5px;
}
.list {
	color: #bd0000;
	margin: 0;
	&__item {
		font-size: 12px;
		line-height: 16px;
	}
}
